<md-content ng-if="report.user_created == CURRENT_USER || PERMS.is_staff" class="fullheight" ng-controller="FieldsCtrl">
  <div style="overflow-x: hidden; overflow-y: auto; height:45%">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span class="caps">{{ report.root_model_name }} Relations</span>
      </div>
    </md-toolbar>
    <div class="row" layout-padding>
      <input placeholder="Search Relations" style="width: 94%" ng-model="searchRelations" ></input>
    </div>

    <md-content>
      <div ui-tree data-drag-enabled="false">
        <ol ui-tree-nodes="" ng-model="related_fields">
          <li data-collapsed="false" ng-include="static('report_builder/partials/node_renderer.html')" ng-repeat="field in related_fields | filter:searchRelations" ui-tree-node>
          </li>
        </ol>
      </div>
    </md-content>

  </div>

  <div style="overflow-x: hidden; overflow-y: auto; height:45%">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span class="caps">{{ fields_header }} Fields</span>
      </div>
    </md-toolbar>
    <div class="row" layout-padding>
      <input placeholder="Search Fields" style="width: 94%" ng-model="searchFields"></input>
    </div>

    <md-content layout-padding>
      <div ui-tree data-drag-enabled="false">
      <ol ui-tree-nodes="" ng-model="fields">
        <li class="field" data-collapsed="false" ng-repeat="field in fields | filter:searchFields | filter:fieldCanFilter" ui-tree-node>
          <span ui-tree-handle layout="row" layout-align="center center" flex>
            <span class="caps" style="padding-left: 5px;" ng-click="click_field(field)">{{field.field_verbose}}</span>
            <span flex></span>
            <md-button class="add_button" ng-click="add_field(field)"> Add </md-button>
          </span>
        </li>
      </ol>
      </div>
    </md-content>

  </div>
  <md-content style="overflow-y: auto; height:10%" layout-padding flex>
    <span ng-bind-html="help_text"></span>
  </md-content>
</md-content>
