<div class="xfullheight" id="reportapp" layout="column" layout-fill>
  <section layout="row" flex >
    <md-sidenav class="md-sidenav-left xfullheight md-whiteframe-z2" md-component-id="left" md-is-locked-open="1">
      <md-toolbar>
        <h1 class="md-toolbar-tools">Report Builder</h1>
        <div layout="row" layout-fill>
          <md-button flex href="/" target="_blank">Dashboard</md-button>
          <md-button flex ng-if="PERMS.is_staff" flex="1" href="{{ ADMIN_REPORT_URL }}" target="_blank">Admin Reports</md-button>
        </div>
      </md-toolbar>

      <md-content style="height: 100%; overflow-y: auto;" ng-controller="LeftCtrl" layout-padding>
        <md-button class="md-accent" href="{{BASE_URL + 'report/add/'}}" ng-if="PERMS.is_staff || PERMS.report.has_add" >
          Add Report
        </md-button>

        <md-content layout-gt-sm="row" flex>
          <md-input-container>
            <label>Search Reports</label>
            <input type="text" ng-model="searchReports">
          </md-input-container>
        </md-content>

        <md-content layout-gt-sm="row">
          <h4 flex="20" class="sort-by-label">Sort by</h4>
          <md-button flex class="md-primary sort-button" ng-click="reverseReportOrder=!reverseReportOrder; reportOrder='name';">Name</md-button>
          <md-button flex class="md-primary sort-button" ng-click="reverseReportOrder=!reverseReportOrder; reportOrder='modified';">Date</md-button>
          <md-button flex class="md-primary sort-button" ng-click="reverseReportOrder=!reverseReportOrder; reportOrder='user_created.first_name';">User</md-button>
        </md-content>

        <md-content layout-gt-sm="row">
          <h3>My Reports</h3>
        </md-content>

        <md-list class="reports">
          <md-list-item ng-repeat="report in reports | filter:searchReports | filter:currentUserFilter | orderBy:reportOrder:reverseReportOrder">
            <md-button class="sidenav-report-link md-primary" layout-fill ng-click="openReport(report.id)">
              <div layout="column" layout-align="center start">
                <div class="report-name">{{ report.name }}</div>
                <div class="report-meta-data" layout="row" layout-fill >
                  <div layout="column" layout-align="center start" flex="50">
                      {{ report.user_created.first_name }} {{ report.user_created.last_name }}
                  </div>
                  <div layout="column" layout-align="center end" flex="50">
                    {{ report.modified }}
                  </div>
                </div>
              </div>
            </md-button>
          </md-list-item>
        </md-list>

        <h3>Permanent Reports</h3>

        <md-list class="reports">
          <md-list-item ng-repeat="report in reports | filter:searchReports | filter:generalReportFilter | orderBy:reportOrder:reverseReportOrder">
            <md-button class="sidenav-report-link md-primary" layout-fill ng-click="openReport(report.id)">
            <div layout="column" layout-align="center start">
              <div class="report-name">{{ report.name }}</div>
              <div layout="row" layout-fill class="report-meta-data">
                <div layout="column" layout-align="center start" flex="50">
                  {{ report.user_created.first_name }} {{ report.user_created.last_name }}
                </div>
                <div layout="column" layout-align="center end" flex="50">
                  {{ report.modified }}
                </div>
              </div>
            </div>
            </md-button>
          </md-list-item>
        </md-list>

      </md-content>
    </md-sidenav>

    <div class="fullheight report-header" flex>
      <div layout="row" flex>
        <md-toolbar class="md-theme-indigo">
          <div class="md-toolbar-tools">
            <md-input-container>
              <input placeholder="Report Name" ng-model="report.name" class="long"></input>
            </md-input-container>
            <span flex></span>
            <span>Last Updated: {{ report.modified }}</span>
          </div>
        </md-toolbar>
      </div>

      <md-content class="report-tabs-height">
        <md-tabs class="report-tabs-height" md-selected="selectedIndex">
          <md-tab id="tab1" aria-controls="tab1-content">
            <md-tab-label>Display</md-tab-label>
            <md-tab-body>
              <div ui-tree="" ng-controller="ReportDisplayCtrl">
                <div layout="row">
                  <div class="move_trash" flex="5"></div>
                  <div flex="35">Field</div>
                  <div flex="1">Name</div>
                  <div class="col_sort" flex="1">Sort</div>
                  <div class="col_sort" flex="1">Reverse</div>
                  <div class="col_aggregate" flex="1">Aggregate</div>
                  <div class="col_format" flex="1">Format</div>
                  <div class="col_checkbox" flex="1">Total</div>
                  <div class="col_checkbox" flex="1">Group</div>
                </div>
                <div>
                  <ol ui-tree-nodes="" ng-model="report.displayfield_set">
                    <li class="field" data-collapsed="false" ng-repeat="field in report.displayfield_set" ui-tree-node="">
                      <div layout-align="center center" ng-include="static('report_builder/partials/display_field.html')"></div>
                    </li>
                  </ol>
                </div>
              </div>
              <div hide-gt-lg layout="row" layout-sm="column" layout-align="center center" style="height: 55px;">
                <md-button class="fullscreen" ng-click="requestFullscreen()" aria-label="Fullscreen">Fullscreen</md-button>
              </div>
            </md-tab-body>
          </md-tab>

          <md-tab id="tab2" aria-controls="tab2-content">
            <md-tab-label>Filter</md-tab-label>
            <md-tab-body>
              <div ng-include="static('report_builder/partials/filters.html')"></div>
            </md-tab-body>
          </md-tab>

          <md-tab id="tab3" aria-controls="tab3-content">
            <md-tab-label>Report</md-tab-label>
            <md-tab-body>
              <div id="report-container" class="fullheight" ng-include="static('report_builder/partials/show_report.html')"></div>
            </md-tab-body>
          </md-tab>

          <md-tab id="tab4" aria-controls="tab3-content">
            <md-tab-label>Options</md-tab-label>
            <md-tab-body>
              <div ng-include="static('report_builder/partials/options.html')"></div>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </md-content>

      <md-button hide-gt-lg class="md-fab md-fab-bottom-left" ng-click="reports_list_menu()" aria-label="Reports List">
        <md-icon md-svg-src="{{ static('report_builder/img/list.svg') }}" style="width: 24px; height: 24px;"></md-icon>
      </md-button>

      <md-button hide-gt-md ng-show="selectedIndex == 0 || selectedIndex == 1" class="md-fab md-fab-bottom-right" ng-click="field_menu()" aria-label="Add Field">
      <md-icon md-svg-src="{{ static('report_builder/img/add.svg') }}" style="width: 24px; height: 24px;"></md-icon>
      </md-button>
    </div>

    <md-sidenav ng-show="showFields" md-is-locked-open="$mdMedia('gt-md')" class="fullheight md-sidenav-right md-whiteframe-z1" md-component-id="right">
      <div class="fullheight" layout="column" layout-fill="" ng-include="static('report_builder/partials/fields.html')"></div>
    </md-sidenav>
  </section>
</div>